.commonFormStyle {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.commonFormStyle form {
    box-shadow: rgb(230, 72, 51) 0px 0px 0.10em, rgb(230, 72, 51) 0px 0px 0.10em;
    max-width: 600px;
    width: 100%;
    padding: 20px 15px;
    border-radius: 3px;
    background-color: #E64833;
    color: #FBE9D0;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.commonFormStyle form h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
    letter-spacing: 1px;
}

.commonFormStyle form div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.commonFormStyle form div label {
    max-width: 180px;
    width: 100%;
    text-transform: uppercase;
}

.commonFormStyle form div input,
.commonFormStyle form div select,
.commonFormStyle form div textarea {
    width: 100%;
    max-width: 330px;
    height: 35px;
    border-radius: 3px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 5px;
}

.commonFormStyle form div select {
    text-transform: capitalize;
}

.commonFormStyle form div textarea {
    height: 80px;
    resize: none;
}

.commonFormStyle form div label {
    align-self: start;
}

.commonFormStyle form button {
    padding: 10px;
    border: 1px solid #244855;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #244855;
    color: white;
}

.commonFormStyle form button:hover {
    background-color: transparent;
    border: 1px solid #244855;
}

.submitSucess {
    background-color: #1D8348;
    padding: 16px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: white;
    position: fixed;
    top: 5%;
    right: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 30px;
}

.submitSucess .ss-Icon {
    font-size: 1.2rem;
    color: white;
    background-color: black;
    border-radius: 50px;
    margin-bottom: -6px;
    margin-right: 10px;
}

.submitSucess .closess-Icon {
    font-size: 15px;
    margin-bottom: -3px;
    font-weight: 700;
    color: white;
}

.submitSucess .ss-submitBtn {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s linear;

}
.submitSucess .ss-submitBtn:hover{
    background-color: #E74C3C;
    color: white;
    border-radius: 50px;
}